/* Styling for the whole element itself. */
openchemlib-editor {
    border: none;
    border-radius: var(--lumo-border-radius-s);
    outline: 1px var(--lumo-utility-border-style, solid) var(--lumo-utility-border-color, var(--lumo-contrast-20pct));
}

openchemlib-editor div {
    /*background-color: transparent !important;*/
    background-color: var(--lumo-contrast-10pct) !important;
}