/* Styling for the whole element itself. */
openchemlib-editor {
    border: 1px var(--lumo-utility-border-style, solid) var(--lumo-utility-border-color, var(--lumo-contrast-10pct));
    border-radius: var(--lumo-border-radius-s);
    /*background-color: var(--lumo-contrast-50pct);*/
    margin: var(--lumo-space-s);
}

openchemlib-editor div {
    background-color: transparent !important;
}